:root {
  --accent-blue: #{{blue-hex}};
  --accent-teal: #{{teal-hex}};
  --accent-green: #{{green-hex}};
  --accent-yellow: #{{orange-hex}};
  --accent-orange: #{{orange-hex}};
  --accent-red: #{{red-hex}};
  --accent-pink: #{{purple-hex}};
  --accent-purple: #{{purple-hex}};
  --accent-slate: #{{overlay-hex}};

  --accent-color: #{{primary-hex}};
  --accent-bg-color: #{{primary-hex}};
  --accent-fg-color: #{{primary-100-hex}};

  --destructive-color: #{{red-hex}};
  --destructive-bg-color: #{{red-hex}};
  --destructive-fg-color: #{{red-100-hex}};

  --success-color: #{{green-hex}};
  --success-bg-color: #{{green-hex}};
  --success-fg-color: #{{green-100-hex}};

  --warning-color: #{{orange-hex}};
  --warning-bg-color: #{{orange-hex}};
  --warning-fg-color: #{{orange-100-hex}};

  --error-color: #{{red-hex}};
  --error-bg-color: #{{red-hex}};
  --error-fg-color: #{{red-100-hex}};

  --window-bg-color: #{{background-hex}};
  --window-fg-color: #{{base07-hex}};

  --view-bg-color: #{{background-hex}};
  --view-fg-color: #{{base-800-hex}};

  --headerbar-bg-color: #{{surface-hex}};
  --headerbar-fg-color: #{{base07-hex}};
  --headerbar-border-color: #{{surface-hex}};
  --headerbar-backdrop-color: #{{background-hex}};
  --headerbar-shade-color: var(--shade-color);
  --headerbar-darker-shade-color: var(--shade-color);

  --sidebar-bg-color: #{{surface-hex}};
  --sidebar-fg-color: #{{base07-hex}};
  --sidebar-backdrop-color: #{{background-hex}};
  --sidebar-border-color: #{{surface-hex}};
  /* --sidebar-shade-color: var(--shade-color); see https://gitlab.gnome.org/GNOME/libadwaita/-/issues/910 */

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);
  --secondary-sidebar-shade-color: var(--sidebar-shade-color);

  --card-bg-color: #{{surface-hex}};
  --card-fg-color: #{{base07-hex}};
  --card-shade-color: var(--shade-color);

  --dialog-bg-color: #{{overlay-hex}};
  --dialog-fg-color: #{{base07-hex}};

  --popover-bg-color: #{{surface-hex}};
  --popover-fg-color: #{{base07-hex}};
  --popover-shade-color: var(--shade-color);

  --shade-color: rgba(0, 0, 0, 0.07);
  --scrollbar-outline-color: #{{overlay-hex}};
}
