{
  "name": "{{scheme-name}}",
  "foreground": "#{{base05-hex}}",
  "background": "#{{base00-hex}}",
  "cursorColor": "#{{base05-hex}}",
  "selectionBackground": "#{{base02-hex}}",
  "black": "#{{base00-hex}}",
  "red": "#{{red}}",
  "green": "#{{green}}",
  "yellow": "#{{orange}}",
  "blue": "#{{blue}}",
  "purple": "#{{purple}}",
  "cyan": "#{{teal}}",
  "white": "#{{base05-hex}}",
  "brightBlack": "#{{base03-hex}}",
  "brightRed": "#{{red-bright}}",
  "brightGreen": "#{{green-bright}}",
  "brightYellow": "#{{orange-bright}}",
  "brightBlue": "#{{blue-bright}}",
  "brightPurple": "#{{purple-bright}}",
  "brightCyan": "#{{cyan-bright}}",
  "brightWhite": "#{{base07-hex}}"
}
