{
  "name": "{{scheme-name}}",
  "foreground": "#{{base05-hex}}",
  "background": "#{{base00-hex}}",
  "cursorColor": "#{{base05-hex}}",
  "selectionBackground": "#{{base02-hex}}",
  "black": "#{{base00-hex}}",
  "red": "#{{red-hex}}",
  "green": "#{{green-hex}}",
  "yellow": "#{{orange-hex}}",
  "blue": "#{{blue-hex}}",
  "purple": "#{{purple-hex}}",
  "cyan": "#{{teal-hex}}",
  "white": "#{{base05-hex}}",
  "brightBlack": "#{{base03-hex}}",
  "brightRed": "#{{red-bright-hex}}",
  "brightGreen": "#{{green-bright-hex}}",
  "brightYellow": "#{{orange-bright-hex}}",
  "brightBlue": "#{{blue-bright-hex}}",
  "brightPurple": "#{{purple-bright-hex}}",
  "brightCyan": "#{{teal-bright-hex}}",
  "brightWhite": "#{{base07-hex}}"
}
