{
  "name": "Kleur Dark",
  "appearance": "dark",
  "style": {
    "background.appearance": "opaque",
    "accents": [],
    "border": "#00000000",
    "border.variant": "#00000000",
    "border.focused": "#a89dff",
    "border.selected": "#00000000",
    "border.transparent": "#00000000",
    "border.disabled": "#00000000",
    "elevated_surface.background": "#060613",
    "surface.background": "#09071f",
    "background": "#060613",
    "element.background": "#a89dff",
    "element.hover": "#141327",
    "element.active": null,
    "element.selected": "#141327",
    "element.disabled": null,
    "drop_target.background": "#2b2b4166",
    "ghost_element.background": null,
    "ghost_element.hover": "#141327",
    "ghost_element.active": null,
    "ghost_element.selected": "#141327",
    "ghost_element.disabled": null,
    "text": "#dadbf8",
    "text.muted": "#dadbf8",
    "text.placeholder": null,
    "text.disabled": null,
    "text.accent": null,
    "icon": null,
    "icon.muted": null,
    "icon.disabled": null,
    "icon.placeholder": null,
    "icon.accent": null,
    "status_bar.background": "#09071f",
    "title_bar.background": "#060613",
    "toolbar.background": "#09071f",
    "tab_bar.background": "#09071f",
    "tab.inactive_background": "#09071f",
    "tab.active_background": "#141327",
    "search.match_background": null,
    "panel.background": "#09071f",
    "panel.focused_border": null,
    "pane.focused_border": null,
    "pane_group.border": null,
    "scrollbar.thumb.background": "#2b2b4133",
    "scrollbar.thumb.hover_background": "#2b2b4177",
    "scrollbar.thumb.border": "#2b2b4133",
    "scrollbar.track.background": "#060613",
    "scrollbar.track.border": "#00000000",
    "editor.foreground": "#dadbf8",
    "editor.background": "#060613",
    "editor.gutter.background": "#060613",
    "editor.subheader.background": null,
    "editor.active_line.background": "#09071f",
    "editor.highlighted_line.background": null,
    "editor.line_number": "#2b2b41",
    "editor.active_line_number": "#dadbf8",
    "editor.invisible": null,
    "editor.wrap_guide": "#00000000",
    "editor.active_wrap_guide": "#00000000",
    "editor.indent_guide": null,
    "editor.indent_guide_active": null,
    "editor.document_highlight.read_background": null,
    "editor.document_highlight.write_background": null,
    "terminal.background": "#060613",
    "terminal.foreground": null,
    "terminal.bright_foreground": null,
    "terminal.dim_foreground": null,
    "terminal.ansi.black": "#060613",
    "terminal.ansi.bright_black": "#2b2b41",
    "terminal.ansi.dim_black": null,
    "terminal.ansi.red": "#a89dff",
    "terminal.ansi.bright_red": "#a89dff",
    "terminal.ansi.dim_red": null,
    "terminal.ansi.green": "#11d770",
    "terminal.ansi.bright_green": "#11d770",
    "terminal.ansi.dim_green": null,
    "terminal.ansi.yellow": "#e6443d",
    "terminal.ansi.bright_yellow": "#e6443d",
    "terminal.ansi.dim_yellow": null,
    "terminal.ansi.blue": "#a89dff",
    "terminal.ansi.bright_blue": "#a89dff",
    "terminal.ansi.dim_blue": null,
    "terminal.ansi.magenta": "#00c0ff",
    "terminal.ansi.bright_magenta": "#00c0ff",
    "terminal.ansi.dim_magenta": null,
    "terminal.ansi.cyan": "#00dad0",
    "terminal.ansi.bright_cyan": "#00dad0",
    "terminal.ansi.dim_cyan": null,
    "terminal.ansi.white": "#dadbf8",
    "terminal.ansi.bright_white": "#a89dff",
    "terminal.ansi.dim_white": null,
    "link_text.hover": "#00dad0",
    "conflict": "#e6443d",
    "conflict.background": null,
    "conflict.border": null,
    "created": "#11d770",
    "created.background": null,
    "created.border": null,
    "deleted": "#a89dff",
    "deleted.background": null,
    "deleted.border": null,
    "error": "#a89dff",
    "error.background": null,
    "error.border": null,
    "hidden": "#dadbf8",
    "hidden.background": null,
    "hidden.border": null,
    "hint": "#2b2b41",
    "hint.background": null,
    "hint.border": null,
    "ignored": "#2b2b41",
    "ignored.background": null,
    "ignored.border": null,
    "info": "#00dad0",
    "info.background": null,
    "info.border": null,
    "modified": "#00c0ff",
    "modified.background": null,
    "modified.border": null,
    "predictive": null,
    "predictive.background": null,
    "predictive.border": null,
    "renamed": null,
    "renamed.background": null,
    "renamed.border": null,
    "success": null,
    "success.background": null,
    "success.border": null,
    "unreachable": null,
    "unreachable.background": null,
    "unreachable.border": null,
    "warning": "#e6443d",
    "warning.background": null,
    "warning.border": null,
    "players": [],
    "syntax": {
      "attribute": {
        "color": "#a89dff",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "boolean": {
        "color": "#f1a400",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "comment": {
        "color": "#2b2b41",
        "background_color": null,
        "font_style": "italic",
        "font_weight": null
      },
      "comment.doc": {
        "color": "#2b2b41",
        "background_color": null,
        "font_style": "italic",
        "font_weight": null
      },
      "constant": {
        "color": "#f1a400",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "constructor": {
        "color": "#a89dff",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "emphasis": {
        "color": "#a89dff",
        "background_color": null,
        "font_style": "italic",
        "font_weight": null
      },
      "emphasis.strong": {
        "color": "#a89dff",
        "background_color": null,
        "font_style": null,
        "font_weight": 700
      },
      "function": {
        "color": "#00c0ff",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "keyword": {
        "color": "#00c0ff",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "label": {
        "color": "#a89dff",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "link_text": {
        "color": "#a89dff",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "link_uri": {
        "color": "#a89dff",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "number": {
        "color": "#f1a400",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "punctuation": {
        "color": "#dadbf8",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "punctuation.bracket": {
        "color": "#dadbf8",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "punctuation.delimiter": {
        "color": "#dadbf8",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "punctuation.list_marker": {
        "color": "#dadbf8",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "punctuation.special": {
        "color": "#dadbf8",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "string": {
        "color": "#11d770",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "string.escape": {
        "color": "#f1a400",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "string.regex": {
        "color": "#11d770",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "string.special": {
        "color": "#11d770",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "string.special.symbol": {
        "color": "#11d770",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "tag": {
        "color": "#a89dff",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "text.literal": {
        "color": "#11d770",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "title": {
        "color": "#a89dff",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "type": {
        "color": "#11d770",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "variable": {
        "color": "#a89dff",
        "background_color": null,
        "font_style": null,
        "font_weight": null
      },
      "variable.special": {
        "color": "#a89dff",
        "background_color": null,
        "font_style": "italic",
        "font_weight": null
      }
    }
  }
}
