{
  "name": "{{scheme-name}}",
  "appearance": "{{scheme-author}}",
  "style": {
    "background.appearance": "opaque",
    "accents": [],
    "border": "#00000000",
    "border.variant": "#00000000",
    "border.focused": "#{{primary-hex}}",
    "border.selected": "#00000000",
    "border.transparent": "#00000000",
    "border.disabled": "#00000000",
    "elevated_surface.background": "#{{overlay-hex}}",
    "surface.background": "#{{surface-hex}}",
    "background": "#{{background-hex}}",
    "element.background": "#{{primary-hex}}",
    "element.hover": "#{{base02-hex}}",
    "element.selected": "#{{base04-hex}}",
    "drop_target.background": "#{{base03-hex}}66",
    "ghost_element.hover": "#{{base02-hex}}",
    "ghost_element.selected": "#{{base03-hex}}",
    "text": "#{{base07-hex}}",
    "text.muted": "#{{base05-hex}}",
    "status_bar.background": "#{{surface-hex}}",
    "title_bar.background": "#{{surface-hex}}",
    "toolbar.background": "#{{surface-hex}}",
    "tab_bar.background": "#{{surface-hex}}",
    "tab.inactive_background": "#{{background-hex}}",
    "tab.active_background": "#{{overlay-hex}}",
    "panel.background": "#{{surface-hex}}",
    "scrollbar.thumb.background": "#{{overlay-hex}}33",
    "scrollbar.thumb.hover_background": "#{{overlay-hex}}77",
    "scrollbar.thumb.border": "#{{overlay-hex}}33",
    "scrollbar.track.background": "#{{surface-hex}}",
    "scrollbar.track.border": "#00000000",
    "editor.foreground": "#{{base07-hex}}",
    "editor.background": "#{{background-hex}}",
    "editor.gutter.background": "#{{background-hex}}",
    "editor.active_line.background": "#{{surface-hex}}",
    "editor.highlighted_line.background": "#{{surface-hex}}",
    "editor.line_number": "#{{base05-hex}}",
    "editor.active_line_number": "#{{base07-hex}}",
    "editor.wrap_guide": "#00000000",
    "editor.active_wrap_guide": "#00000000",
    "terminal.background": "#{{background-hex}}",
    "terminal.ansi.black": "#{{background-hex}}",
    "terminal.ansi.bright_black": "#{{surface-hex}}",
    "terminal.ansi.red": "#{{red-hex}}",
    "terminal.ansi.bright_red": "#{{red-bright-hex}}",
    "terminal.ansi.green": "#{{green-hex}}",
    "terminal.ansi.bright_green": "#{{green-bright-hex}}",
    "terminal.ansi.yellow": "#{{orange-hex}}",
    "terminal.ansi.bright_yellow": "#{{orange-bright-hex}}",
    "terminal.ansi.blue": "#{{blue-hex}}",
    "terminal.ansi.bright_blue": "#{{blue-bright-hex}}",
    "terminal.ansi.magenta": "#{{purple-hex}}",
    "terminal.ansi.bright_magenta": "#{{purple-bright-hex}}",
    "terminal.ansi.cyan": "#{{teal-hex}}",
    "terminal.ansi.bright_cyan": "#{{teal-bright-hex}}",
    "terminal.ansi.white": "#{{base07-hex}}",
    "terminal.ansi.bright_white": "#{{primary-hex}}",
    "link_text.hover": "#{{teal-hex}}",
    "conflict": "#{{red-hex}}",
    "created": "#{{green-hex}}",
    "deleted": "#{{red-hex}}",
    "error": "#{{red-hex}}",
    "hidden": "#{{base05-hex}}",
    "hint": "#{{base05-hex}}",
    "ignored": "#{{base05-hex}}",
    "info": "#{{blue-hex}}",
    "modified": "#{{orange-hex}}",
    "warning": "#{{orange-hex}}",
    "players": [],
    "syntax": {
      "namespace": {
        "color": "#{{green-hex}}"
      },
      "class": {
        "color": "#{{blue-hex}}"
      },
      "class.abstract": {
        "color": "#{{orange-hex}}"
      },
      "enum": {
        "color": "#{{green-hex}}"
      },
      "interface": {
        "color": "#{{orange-hex}}"
      },
      "struct": {
        "color": "#{{blue-hex}}"
      },
      "typeParameter": {
        "color": "#{{green-hex}}"
      },
      "type": {
        "color": "#{{blue-hex}}"
      },
      "parameter": {
        "color": "#{{purple-hex}}"
      },
      "variable": {
        "color": "#{{purple-hex}}"
      },
      "variable.builtin": {
        "color": "#{{green-hex}}"
      },
      "property": {
        "color": "#{{purple-hex}}"
      },
      "enumMember": {
        "color": "#{{green-hex}}"
      },
      "decorator": {
        "color": "#{{blue-hex}}"
      },
      "event": {
        "color": "#{{blue-hex}}"
      },
      "punct": {
        "color": "#{{base08-hex}}"
      },
      "punctuation": {
        "color": "#{{base08-hex}}"
      },
      "punctuation.bracket": {
        "color": "#{{primary-hex}}"
      },
      "escapeSequence": {
        "color": "#{{red-hex}}"
      },
      "function": {
        "color": "#{{blue-hex}}",
        "font_style": "italic"
      },
      "method": {
        "color": "#{{blue-hex}}",
        "font_style": "italic"
      },
      "macro": {
        "color": "#{{blue-hex}}"
      },
      "label": {
        "color": "#{{base06-hex}}"
      },
      "comment": {
        "color": "#{{base03-hex}}",
        "font_style": "italic"
      },
      "string": { "color": "#{{green-hex}}" },
      "keyword": {
        "color": "#{{purple-hex}}",
        "font_style": "italic"
      },
      "keyword.control": {
        "color": "#{{purple-hex}}",
        "font_style": "italic"
      },
      "number": {
        "color": "#{{orange-hex}}"
      },
      "string.regex": {
        "color": "#{{orange-hex}}"
      },
      "boolean": {
        "color": "#{{orange-hex}}"
      },
      "bool": {
        "color": "#{{orange-hex}}"
      },
      "const": {
        "color": "#{{orange-hex}}"
      },
      "constant": {
        "color": "#{{orange-hex}}"
      },
      "operator": {
        "color": "#{{purple-hex}}"
      },
      "function.declaration": {
        "color": "#{{purple-hex}}",
        "font_weight": 700
      },
      "enum.declaration": {
        "color": "#{{green-hex}}",
        "font_weight": 700
      },
      "class.declaration": {
        "color": "#{{blue-hex}}",
        "font_weight": 700
      },
      "method.declaration": {
        "color": "#{{blue-hex}}",
        "font_weight": 700
      },
      "trait.declaration": {
        "color": "#{{orange-hex}}",
        "font_weight": 700
      },
      "struct.declaration": {
        "color": "#{{blue-hex}}",
        "font_weight": 700
      },
      "function.async": {
        "color": "#{{orange-hex}}"
      },
      "unresolvedReference": {
        "color": "#{{red-hex}}"
      },
      "namespace.defaultLibrary": {
        "color": "#{{green-hex}}"
      },
      "variable.defaultLibrary": {
        "color": "#{{green-hex}}"
      },
      "namespace.builtin": {
        "color": "#{{green-hex}}"
      },
      "variable.builtin": {
        "color": "#{{green-hex}}"
      },
      "emphasis": {
        "color": "#{{primary-hex}}",
        "font_style": "italic"
      },
      "emphasis.strong": {
        "color": "#{{primary-hex}}",
        "font_style": "italic",
        "font_weight": 700
      }
    }
  }
}
